.register-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
}

.register-container h2 {
  text-align: center;
}

.register-container form input,
.register-container form select {
  width: 100%;
  height: 150%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 16px;
}

.register-container form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-container form button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
